@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container-header {
    max-width: 1170px;
    margin: auto;
    padding: 15px 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 10px 0;
}

.header::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 80%;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateY(calc(-100% - 10px));
    background-color: rgb(87, 87, 241);

    transition: transform .5s;
}

.header.active::before {
    transform: translateY(0%);
}

.header .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    position: relative;
    display: flex;
    font-weight: 750;
    font-size: 27px;
    transform: translateY(-100%);
    opacity: 0;
    color: #000;
}

.header .navb li {
    display: inline-block;
    margin-left: 35px;
}

.header .navb li a {
    display: block;
    color: #000;
    opacity: 0;
    transform: translateY(-100%);
    font-weight: 500;

    transition: color .5s;
}

.header .navb li a:hover {
    color: rgb(87, 87, 241);
}

.page-wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
}

.content {
    position: absolute;
    display: flex;
    left: 50%;
    top: 60px;
    transform: translateX(-50%);
}

.bad__gap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.content__img {
    padding: 30px;
}

.data__content {
    transform: translateX(-100%);
    opacity: 0;
}

.img__content {
    width: 700px;
    height: auto;
    transform: translateY(100%);
    opacity: 0;
}

.data__content h3,
p,
a {
    padding-bottom: 30px;
}

.data__content h3 {
    font-size: 2rem;
}

.data__content p {
    font-size: 14px;
    width: 400px;
}

.data__content .btn {
    position: absolute;
    display: block;
    opacity: 0;
    transform: translateY(110%);
    padding: 15px 50px;
    background-color: rgb(87, 87, 241);
    color: #000;
    font-weight: 500;
    border-radius: 8px;
}

.footer {
    position: relative;
    display: block;
    width: 60%;
    height: 60%;
}

.container-f {
    position: absolute;
    display: block;
    bottom: -70%;
    left: 20px;

}

.container-f .row-f li {
    display: inline-block;
    margin-left: 35px;
}

.container-f .row-f li a {
    display: block;
    color: #000;
    font-size: 26px;
    transition: color .5;

}

.container-f .row-f li a:hover {
    color: rgb(87, 87, 241);
}

@media screen and (max-width: 991px) {
    .header .logo {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .header .navb li {
        display: none;
    }

    .content {
        margin-top: 120px;
    }

    .row {
        grid-template-columns: 1fr;
    }

    .data__content p {
        width: 290px;
    }

    .data__content {
        width: 300px;
        padding: 20px;
    }

    .img__content {
        padding-top: 34px;
        width: 100%;
    }

    .container-f {
        bottom: -470px;
    }
}